/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar h2 {
    cursor: pointer;
  }
  
  .navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .navbar li:hover {
    background-color: #f0f0f0;
  }
  
  /* Sidebar for small screens */
  .sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.3s ease;
    background-color: #f0f0f0;
    width: 100%;
    max-width: 75vw;
    overflow-y: auto;
    z-index: 999;
  }
  
  .sidebar .close-btn {
    margin: 1rem;
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  
  .sidebar li:hover {
    background-color: #e0e0e0;
  }
  
 /* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar ul {
      display: none;
    }
  
    .navbar .sidebar {
      transform: translateX(-100%);
    }
  
    .navbar span {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
  